<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Flask App{% endblock %}</title>
    <style>
        body {
            font-family: Arial, sans-serif;
        }
        .home-button {
            margin: 20px;
            margin-top: 20px;
            padding: 10px 15px;
            background-color: #5bc0de;
            color: white;
            text-decoration: none;
            border-radius: 5px;
            display: inline-block;
        }
    </style>
</head>
<body>
    <div>
        {% block content %}
        {% endblock %}
    </div>
    <a class="home-button" href="{{ url_for('home') }}">Return Home</a>

    <footer class="text-center mt-4">
        <p>&copy; 2024 StatsApp</p>
    </footer>
</body>
</html>
