{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
    <p>Welcome! Please select the concept you want to learn below. </p>

    <form action="/submit" method="POST">
        <label for="options">Choose an option:</label>
        <select id="options" name="options">
            {% for option in options %}
                <option value="{{ option }}">{{ option }}</option>
            {% endfor %}
        </select>
        <input type="submit" value="Submit">
    </form>
{% endblock %}