* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 16px;
    margin: 20px;
    line-height: 1.6;
    padding-top: 100px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    background-color: #ddead1;
    color: rgb(17, 25, 16);
    font-family: Arial, sans-serif;
}

ul, ol {
    margin-left: 20px; /* Indentation */
    padding-left: 20px; /* Indentation */
    margin-bottom: 20px;
}

p {
    margin-bottom: 20px; /* Adjust the value for desired spacing */
}

.home_button{
    margin: 20px;
    margin-top: 20px;
    padding: 10px 15px;
    background-color: #4b6043;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    display: inline-block;
}

nav{
    position: fixed;
    top: 0;
    left: 0;
    width:100%;
    height: 75px;
    line-height: 75px;
    padding: 20px 20px;
    background: #4b6043;
    display: flex;
    align-items: center;
    /* color: white;
    text-decoration: none; */  
    
    justify-content: space-between;
}    
.title{
    font-family: Arial, sans-serif;
    color: #fff;
    text-decoration: none;
    font-weight: 700;
    text-align: left;
    font-size: 24px;
}

.navbar a {
    font-size: 15px;
    color: #fff;
    font-weight: 500;
    text-decoration: none;
    margin-left: 40px;
    text-align: right;
}

.quiz{
    margin: 20px;
}

code {
    background-color: #f4f4f4;
    padding: 4px 8px;
    border-radius: 4px;
}
pre {
    background-color: #f4f4f4; /* Grey background for the code block */
    padding: 15px; /* Padding around the code */
    border-radius: 8px; /* Rounded corners */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Light shadow for 3D effect */
    overflow-x: auto; /* Horizontal scrolling if code overflows */
    font-family: Consolas, 'Courier New', monospace; /* Monospace font for code */
    margin-bottom: 20px; /* Space after each code block */
}

.image-container {
    margin-top: 50px; /* Ensure space for the header */
    text-align: center;
    width: 100%;
    max-width: 100%;
    position: relative;
}

/* Styling for the figure element */
figure {
    margin: 0;
    display: none; /* Start with all figures hidden */
}

/* Ensure the image has a minimum width but adjusts its height based on aspect ratio */
img {
    width: 100%;
    max-width: 500px;
    height: auto;
}

/* Caption styling */
figcaption {
    font-size: 1.2em;
    color: #333;
    margin-top: 10px;
}

/* Show the active image */
.active {
    display: block;
}